#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 10px;
}

h1 {
  font: 600 24px / 133% var(--font-family);
  letter-spacing: 0.04em;
  color: #2e2f42;
}
